.Row {
	margin-left: 20px;
	color: #fff;
	.close {
		position: absolute;
		width: 20px;
		height: 20px;
		font-size: 20px;
		line-height: 0;
		cursor: pointer;
		z-index: 15;
		top: 10px;
		left: 20px;
	}

	&-posters {
		display: flex;
		overflow-y: hidden;
		overflow-x: scroll;
		padding: 10px;

		&::-webkit-scrollbar {
			// display: none;
			height: 14px;
			border-radius: 10px;
			background: rgba(100, 100, 100, 0.8);
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(100, 0, 0, 0.8);
			border-radius: 10px;
		}
	}

	&-poster {
		object-fit: contain;
		width: 100%;
		max-height: 100px;
		margin: 4px;
		transition: transform 450ms;

		&-large {
			max-height: 250px;
			margin: 8px;

			&:hover {
				transform: scale(5);
			}
		}

		&:hover {
			transform: scale(1.08);
		}
	}
}
