@import "../../assets/globalstyle/_breakpoint";
@import "../../assets/globalstyle/_mixin";

.youtube {
	height: 100%;
	width: 100%;
}
.iframe {
	width: 100%;
	height: 145%;
	@include mq(md) {
		height: 130%;
	}
}

.filter {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.container {
	position: relative;
	background: black;
	height: 16rem;
	@include mq(md) {
		height: 24rem;
	}
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-top: 4rem;
}
