.Banner {
	color: #fff;
	object-fit: contain;
	height: 36rem;

	&-contents {
		margin-left: 30px;
		padding-top: 20rem;
		height: 36rem;
	}

	&-title {
		font-size: 2.2rem;
		font-weight: 800;
		padding-bottom: 0.3rem;
	}

	&-description {
		width: 45rem;
		text-align: left;
		line-height: 1.3;
		padding-top: 0.2rem;
		font-size: 1rem;
		max-width: 360px;
		height: 80px;
	}

	&-button {
		cursor: pointer;
		color: #fff;
		outline: none;
		border: none;
		font-weight: 700;
		border-radius: 0.2vw;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-right: 1rem;
		padding-top: 0.5rem;
		background-color: rgba(51, 51, 51, 0.5);
		padding-bottom: 0.5rem;

		&:hover {
			color: #000;
			background-color: #e6e6e6;
			transition: all 0.2s;
		}
	}

	&-fadeBottom {
		height: 7.4rem;
		background-image: linear-gradient(
			180deg,
			transparent,
			rgba(37, 37, 37, 0.61),
			#111
		);
	}
}
